<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ipcamer.demo"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="8" />

    <uses-permission android:name="android.permission.ACCESS_SURFACE_FLINGER" >
    </uses-permission>
    <uses-permission android:name="android.permission.INTERNET" >
    </uses-permission>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature android:name=" android.permission.ACCESS_WIFI_STATE " />
    <uses-feature android:name="android.permission.CHANGE_WIFI_STATE " />
    <uses-feature android:name="android.permission.WAKE_LOCK" />
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:name="com.ipcamer.app.MyApplication"
        android:icon="@drawable/app"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".AddCameraActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="Add Camera"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity android:name=".PlayBackTFActivity" >
        </activity>
        <activity android:name=".PlayBackActivity" >
        </activity>
        <activity
            android:name="com.ipcamer.demo.PlayActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="play"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".SettingWifiActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="WifiSetting"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name="com.llh.camera.activity.StartActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".BridgeService" >
        </service>

        <activity android:name="com.llh.activity.CameraActivity" >
        </activity>
        <activity android:name="com.llh.activity.SnapshotAtivity" >
        </activity>
        <activity android:name="com.llh.camera.activity.LoginAtivity" >
        </activity>
        <activity android:name="com.llh.camera.activity.MainActivity" >
        </activity>
        <activity
            android:name="com.llh.camera.activity.VisitMainActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity android:name="com.llh.activity.ImageActivity" >
        </activity>
        <activity android:name="com.llh.activity.EnrollActivity" >
        </activity>
        <activity android:name="com.llh.camera.activity.HuoDongActivity" >
        </activity>
        <activity android:name="com.llh.activity.ShowInfoAtivity" >
        </activity>
        <activity android:name="com.llh.camera.activity.ZeXunActivity" >
        </activity>
        <activity android:name="com.llh.camera.activity.VisitSettingActivity" >
        </activity>
        <activity android:name="com.llh.camera.activity.SettingActivity" >
        </activity>
        <activity android:name="com.llh.activity.NewSettingCameraActivity" >
        </activity>
        <activity android:name="com.llh.activity.JFActivity" >
        </activity>
        <activity android:name="com.llh.activity.LelaoHuiActivity" >
        </activity>
        <activity android:name="com.llh.activity.SearchWifiActivity" >
        </activity>
        <activity android:name="com.llh.camera.activity.CameraSettingManage" >
        </activity>
        <activity android:name="com.llh.camera.activity.SettingCameraParam" >
        </activity>
        <activity android:name="com.llh.camera.activity.ChangePasswordLoginActivity" >
        </activity>
        <activity android:name="com.llh.camera.activity.WifiSettingAtivity" >
        </activity>
        <activity android:name="com.llh.camera.activity.CameraWifiSettingActivity" >
        </activity>
        <activity android:name="com.llh.camera.activity.BindUserActivity" >
        </activity>
        <activity android:name="com.llh.camera.activity.ApplyBind" >
        </activity>
        <activity
            android:name="com.llh.camera.activity.EnrollPhoneActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity android:name="com.llh.camera.activity.ApplyList" >
        </activity>
        <activity android:name="com.llh.camera.activity.ForgetPassWordAitivity" >
        </activity>
        <activity
            android:name="com.llh.camera.activity.TakeoutActivity"
            android:theme="@style/StyledIndicators" >
        </activity>
        <activity android:name="com.llh.camera.activity.QueryActivity" >
        </activity>
        <activity android:name="com.llh.camera.activity.OrderFooderActivity" >
        </activity>
        <activity android:name="com.llh.camera.activity.AddressAtivity" >
        </activity>
        <activity android:name="com.llh.camera.activity.AddAddressAtivity" >
        </activity>
        <activity android:name="com.llh.camera.activity.OrderQueryAtivity" >
        </activity>
        <activity android:name="com.llh.chat.MainActivity" >
        </activity>
        <activity android:name="com.llh.camera.activity.NewsAtivity" >
        </activity>
    </application>

</manifest>